<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <section class="signup py-5" id="signup">
            <div class="container">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-8">
                        <div class="card bg bg-white p-md-5 p-2 m-md-5 m-2">
                            <div class="card-inner">
                                 <h4 class="text-center pb-2">Sign Up Here!</h4>

                                <div th:if="${session.message}" th:classappend="${session.message.types}" class="text-center alert-dismissible fade show alert">
                                        <h3 th:text="${session.message.content}"></h3>
                                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>

                                <form class="row g-3 mt-3 p-2" action="" th:action="@{/doregister}" th:object="${user}" method="post">
                                    <div class="col-md-6">

                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('uName') ? 'is-invalid' : ''}" id="name" name="uName"
                                               th:value="${user.uName}" placeholder="Your Name"
                                               aria-describedby="validationServer03Feedback">
                                        <div th:each=" e : ${#fields.errors('uName')} "
                                             th:text="${e}"
                                             class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" th:classappend="${#fields.hasErrors('uEmail') ? 'is-invalid' : ''}" id="email" name="uEmail"
                                               placeholder="Your Email" th:value="${user.uEmail}">
                                        <div th:each=" e : ${#fields.errors('uEmail')} "
                                             th:text="${e}"
                                             class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="uPassword"
                                               placeholder="Enter Your Password" th:value="${user.uPassword}">
                                    </div>
                                    <div class="form-floating">
                                        <textarea class="form-control no-resize" rows="5" placeholder=" Leave a comment here" name="uAbout"
                                                  id="comment" th:text="${user.uAbout}"></textarea>
                                        <label class="text-black" for="comment"> &nbsp; Leave a comment here..</label>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                                Agree to Terms and Conditions.
                                            </label>
                                        </div>
                                    </div>
                                        <button type="submit" class="btn btn-main btn-block">Sign in</button>
                                        <a href="/singup" class="btn btn-block btn-danger">Reset</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>